@model DeckModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Your Draw:</h1>
@{
    foreach (Card c in Model.Cards)
    {

        <div class="column">
            <div class="row">
                <h4>
                    <img src="@c.Image"> @c.Value of @c.Suit
                    <h4/>
                    </div>
            </div>







                    }
                    }
